                <!-- ========== Left Sidebar Start ========== -->
                <div class="left-side-menu left-side-menu-detached pt-2">

                    <!--- Sidemenu -->
                    <ul class="metismenu side-nav side-nav-light">

                        <li class="side-nav-title side-nav-item" style="font-size: 14px">배송 요일별 주문시간대</li>

                        
                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link pt-1">
                                <i class="dripicons-heart"></i>
                                <span> 선주문 </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="side-nav-second-level ml-5" aria-expanded="">
                                <li class="mb-2"><b>월&nbsp;</b>[ 일 05:00 - 월 05:00 ]</li>
                                <li class="mb-2"><b>화&nbsp;</b>[ 월 05:00 - 화 05:00 ]</li>
								<li class="mb-2"><b>수&nbsp;</b>[ 화 05:00 - 수 05:00 ]</li>
								<li class="mb-2"><b>목&nbsp;</b>[ 수 05:00 - 목 05:00 ]</li>
								<li class="mb-2"><b>금&nbsp;</b>[ 목 05:00 - 금 05:00 ]</li>
								<li class="mb-2"><b>토&nbsp;</b>[ 금 05:00 - 토 05:00 ]</li>
								<li class="mb-3"><b>일&nbsp;</b>[ 주문없음 ]</li>
                            </ul>
                        </li>
                        <li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link pt-0">
                                <i class="dripicons-document"></i>
                                <span> 일반주문 </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="side-nav-second-level ml-5" aria-expanded="">
                                <li class="mb-2"><b>월&nbsp;</b>[ 일 05:00 - 월 05:00 ]</li>
                                <li class="mb-2"><b>화&nbsp;</b>[ 월 05:00 - 화 05:00 ]</li>
								<li class="mb-2"><b>수&nbsp;</b>[ 화 05:00 - 수 05:00 ]</li>
								<li class="mb-2"><b>목&nbsp;</b>[ 수 05:00 - 목 05:00 ]</li>
								<li class="mb-2"><b>금&nbsp;</b>[ 목 05:00 - 금 05:00 ]</li>
								<li class="mb-2"><b>토&nbsp;</b>[ 금 05:00 - 토 05:00 ]</li>
								<li class="mb-1"><b>일&nbsp;</b>[ 주문없음 ]</li>
                            </ul>
                        </li>
						
						<li class="side-nav-title side-nav-item mt-3" style="font-size: 14px">나의 주문현황</li>
						
						<li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link pt-1">
                                <i class="dripicons-alarm"></i>
                                <span> 주문일정 현황 </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="side-nav-second-level" aria-expanded="">
                                <li>
                                    <a href="javascript: void(0);"><b>주문남은시간 </b></a>
									<p class="mb-1 ml-5">00:00:00(일반)</p>
									<p class="mt-0 ml-5">00:00:00(선)</p>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"><b>배송일자 </b></a>
									<p class="mb-1 ml-5">00:00:00(일반)</p>
									<p class="mt-0 ml-5">00:00:00(선)</p>
                                </li>
							
                            </ul>
                        </li>
						<li class="side-nav-item">
                            <a href="javascript: void(0);" class="side-nav-link pt-0">
                                <i class="dripicons-card"></i>
                                <span> 주문결제 현황 </span>
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="side-nav-second-level" aria-expanded="">
                                <li>
                                    <a href="javascript: void(0);"><b>기존미수금 </b></a>
									<p class="mb-1 ml-5">5,814,832원</p>
                                </li>
                                <li>
                                    <a href="javascript: void(0);"><b>주문진행금액 </b></a>
									<p class="mb-1 ml-5">2,200,000원</p>
                                </li><li>
                                    <a href="javascript: void(0);"><b>최종미수금 </b></a>
									<p class="mb-1 ml-5" style="color:#fa5c7c";>8,014,832원</p>
                                </li><li>
                                    <a href="javascript: void(0);"><b>여신한도 </b></a>
									<p class="mb-1 ml-5">9,200,000원</p>
                                </li>
							
                            </ul>
                        </li>

                    </ul>

                    <!-- Help Box -->
                    <div class="help-box help-box-light text-center" style="margin-top: 20px;">
						
                        <p class="mt-1 mb-1 font-10">입금계좌 : 우리은행</p>
						<p class="mb-3 font-weight-bold">1002-4231-3354</p>
                        <p class="mb-1 font-10">담당자 : 김관리/김배송</p>
						<p class="mb-3 font-weight-bold">010-4231-3354</p>
						<p class="mb-1 font-10">배송기사 : 라배송</p>
						<p class="mb-3 font-weight-bold">010-2477-8901</p>
						<p class="mb-1 font-10">전자세금계산서 발행 메일 : </p>
						<p class="mb-3 font-weight-bold">retnebsm@revan.moc</p>
                        <a href="javascript: void(0);" class="btn btn-outline-primary btn-sm mb-1">본사 홈페이지</a>
                    </div>
                    <!-- end Help Box -->
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>
                    <!-- Sidebar -left -->

                </div>
                <!-- Left Sidebar End -->